<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/commons::head"></head>
<body>
  <th:block sec:authorize="isAnonymous()">
    <nav th:replace="/fragments/commons::nav#guest-nav"></nav>
  </th:block>
  <th:block sec:authorize="isAuthenticated()">
    <nav th:replace="/fragments/commons::nav#logged-nav"></nav>
  </th:block>
  <div class="container pt-3 pb-3 min-vh-100 text-white" th:object="${fullBookInfoDTO}">
    <h1 class="text-center">Book Info.</h1>
    <hr class="my-3 bg-white w-100">
    <div id="book-details" class="d-flex justify-content-evenly align-items-center flex-column min-vh-100 text-center">
      <img th:src="*{bookImageUrl}" alt="" class="rounded-circle" width="250" height="250">
      <h3><span class="text-decoration-underline text-uppercase">Title:</span> <span th:text="*{title}"></span></h3>
      <h4><span class="text-decoration-underline text-uppercase">Author:</span> <span th:text="*{author}"></span></h4>
      <p><span class="fw-bold text-decoration-underline text-uppercase">Description:</span> <span th:text="*{description}"></span></p>
      <p><span class="fw-bold text-decoration-underline text-uppercase">ISBN:</span> <span th:text="*{isbn}"></span></p>
      <p><span class="fw-bold text-decoration-underline text-uppercase">Language:</span> <span th:text="*{language}"></span></p>
      <p><span class="fw-bold text-decoration-underline text-uppercase">Pages count:</span> <span th:text="*{pages}"></span></p>
      <p><span class="fw-bold text-decoration-underline text-uppercase">Publish date:</span> <span th:text="*{publish_date}"></span></p>
    </div>
    <div class="row">
        <div class="col m-2">
        <h1 class="text-center">Comments.</h1>
        <hr class="my-3 bg-white w-100">
        <div class="row d-flex justify-content-center">
            <div class="card shadow-0 border" style="background-color: #f0f2f5;">
              <div class="card-body p-4">
                <div class="form-outline mb-4">
                  <form th:action="@{/books/details/comment/add}" th:method="post" th:object="${addCommentDTO}">
                    <input type="hidden" name="authorUsername" th:value="${#authentication.getName()}">
                    <input type="hidden" name="bookId" th:value="${fullBookInfoDTO.id}">
                    <input type="text" id="content" name="content" class="form-control mb-2" placeholder="Type comment..."/>
                    <input type="submit" value="POST COMMENT" class="btn btn-primary w-100">
                  </form>
                </div>

                <div class="card mb-4 text-dark" th:each="comment : ${comments}">
                  <div class="card-body">
                    <p th:text="${comment.content}"></p>

                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <p class="small mb-0 ms-2">- <span th:text="${comment.authorUsername}"></span></p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col m-2">
        <h1 class="text-center">Rates.</h1>
        <hr class="my-3 bg-white w-100">
        <div class="row d-flex justify-content-center">
          <div class="card shadow-0 border" style="background-color: #f0f2f5;">
            <div class="card-body p-4">
              <div class="form-outline mb-4">
                <form th:action="@{/books/details/rate/add}" th:method="post" th:object="${addRateDTO}">
                  <input type="hidden" name="authorUsername" th:value="${#authentication.getName()}">
                  <input type="hidden" name="bookId" th:value="${fullBookInfoDTO.id}">
                  <select name="rate" id="rate" class="form-control mb-2">
                    <option value="" disabled>Select a rate</option>
                    <option value="ONE_STAR" selected>One star</option>
                    <option value="TWO_STAR">Two stars</option>
                    <option value="THREE_STAR">Three stars</option>
                    <option value="FOUR_STAR">Four stars</option>
                    <option value="FIVE_STAR">Five stars</option>
                  </select>
                  <input type="submit" value="ADD RATE" class="btn btn-primary w-100">
                </form>
              </div>

              <div class="card mb-4 text-dark" th:each="rate : ${rates}">
                <div class="card-body">
                  <p th:text="${rate.rateEnum.name()}"></p>

                  <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                      <p class="small mb-0 ms-2">- <span th:text="${rate.authorUsername}"></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="/fragments/commons::footer"></footer>
</body>
</html>