<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/commons::head"></head>
<body>
  <th:block sec:authorize="isAnonymous()">
    <nav th:replace="/fragments/commons::nav#guest-nav"></nav>
  </th:block>
  <th:block sec:authorize="isAuthenticated()">
    <nav th:replace="/fragments/commons::nav#logged-nav"></nav>
  </th:block>
  <div class="container pt-3 pb-3 min-vh-100 text-white" th:object="${fullBookInfoDTO}">
    <h1 class="text-center">Book Info.</h1>
    <hr class="my-3 bg-white w-100">
    <div id="book-details" class="d-flex justify-content-evenly align-items-center flex-column min-vh-100 text-center">
      <img th:src="*{bookImageUrl}" alt="" class="rounded-circle" width="250" height="250">
      <h3><span class="text-decoration-underline text-uppercase">Title:</span> <span th:text="*{title}"></span></h3>
      <h4><span class="text-decoration-underline text-uppercase">Author:</span> <span th:text="*{author}"></span></h4>
      <p><span class="fw-bold text-decoration-underline text-uppercase">Description:</span> <span th:text="*{description}"></span></p>
      <p><span class="fw-bold text-decoration-underline text-uppercase">ISBN:</span> <span th:text="*{isbn}"></span></p>
      <p><span class="fw-bold text-decoration-underline text-uppercase">Language:</span> <span th:text="*{language}"></span></p>
      <p><span class="fw-bold text-decoration-underline text-uppercase">Pages count:</span> <span th:text="*{pages}"></span></p>
      <p><span class="fw-bold text-decoration-underline text-uppercase">Publish date:</span> <span th:text="*{publish_date}"></span></p>
    </div>
  </div>
  <footer th:replace="/fragments/commons::footer"></footer>
</body>
</html>