<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/commons::head"></head>
<body>
    <th:block sec:authorize="isAnonymous()">
        <nav th:replace="/fragments/commons::nav#guest-nav"></nav>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <nav th:replace="/fragments/commons::nav#logged-nav"></nav>
    </th:block>
    <div class="container text-white d-flex justify-content-center flex-column pt-3 pb-3 min-vh-100" id="info-section" sec:authorize="isAnonymous()">
        <h1>Welcome to Bookswagon App!</h1>
        <hr class="my-3 bg-white w-100">
        <p>This web app is a platform for book lovers who want to keep track of the books they've read. The app allows users to search for books using titles and provides detailed information about each book, such as the cover image, author, publication date, and summary.</p>
        <p>Users can create accounts and log in to the app, which allows them to keep track of the books they've read in their "have read" list. They can add and remove books from their list, and view the books they've read at any time.</p>
        <p>Overall, the Bookswagon web app is a convenient and user-friendly platform for book lovers who want to keep track of the books they've read and discover new books to read.</p>
    </div>
    <div class="container pt-3 pb-3 min-vh-100 text-white" sec:authorize="isAuthenticated()">
        <h1 class="text-center">Welcome! See all books we got.</h1>
        <hr class="my-3 bg-white w-100">
        <div id="bookList" class="d-flex justify-content-center flex-wrap"></div>
        </div>
    </div>
    <footer th:replace="/fragments/commons::footer"></footer>
    <script src="/js/booksSummaryFetch.js"></script>
</body>
</html>